@import 'header';
@import 'footer';
.all-list{display:none;}
#nav{background: #333333;}
.item-list{
    li{ 
        background: #333333;
        margin:0 0;
        padding:10px 25px;
        a{color:#fff;}
    }

    li:hover a{color:#fff;}
    li:hover{ background: red;}
    li:last-child{
        padding:0 25px;
    }
}
.all-item{
    background: #333;
    .fenlei{padding-top:10px;}
} 
.all-item:hover .all-list{
    display:block;
}


.index-bar{
    height: 26px;
    padding:15px 0;
}
.index-url{
    display:inline-block;
    font-size:12px;
    line-height: 26px;
}
.index-url a:hover{
    text-decoration: underline;
}
.index-url-search{
    width: 160px;
    height: 24px;
    border:1px solid #ccc;
}
#url-search{
    width: 135px;
    height: 100%;
    border:0 none;
}
.i-shownumber{
    height: 26px;
    line-height: 26px;
    font-size:12px;
    span{font-weight:bold;}
}

.index-list{
    .container{
        border-top:2px solid #987144;
    }
    
}
.i-list-item{
    border-bottom:1px solid #ccc;
}
.ili-left{
    float:left;
    text-align:right;
    width: 130px;
    height: 100%;
    padding:12px 24px 12px 0;
    background: #F8F8F8;
    
}
.ili-right{
    float:left;
    padding:12px 0 12px 20px;
    span{margin-right:10px;}
}


.sort{
    margin-top:20px;
    .container{height: 36px;
        div{height: 34px;float:left;background: #F8F8F8;}

    }
    line-height: 34px;
    font-size:12px;
    a{padding:0 16px;}
    
}
.sort-l{
    border:1px solid #ccc;
    i{
        display:inline-block;
        width: 20px;
        height: 12px;
        text-align:center;
    }
    
}
#goodslist .s-fir{background: #C01133;
    a{color:#fff;}
}
.sort-p{
    display:inline-block;
    width: 20px;
    height: 12px;
    line-height: 12px;
    i{

        width: 20px;
        height: 4px;
        line-height: 4px;
    }
}

.sort-c{
    border:1px solid #ccc;
    margin-left:10px;
    padding:0 5px;

    input{width: 68px;height: 24px;}

}
#goodslist .sort-r{}
.sort-r{
    border:1px solid #ccc;
    margin-left:10px;
    padding:0 10px;
    width: 613px;
    input{
        vertical-align: middle;
        margin-right:6px;

    }
    label{
        margin-right:25px;
    }
}

#goodslist .s-rarrow{
    float:right;
    width: 24px;
    height: 24px;
    border:1px solid #ccc;
    background: #EEEEEE;
    line-height: 24px;
    text-align: center;
    margin-top:5px;
}
#goodslist .s-page{
    margin-right:40px;
    float:right;
    span{color:red;}
}


.main{

    .container{
        max-height: 4100px;
        min-height: 410*3px;
    }
}
.main-item{
    box-sizing: border-box;
    border:1px solid #ccc;
    width: 230px;
    height: 390px;
    margin-right:10px;
    padding:14px 13px;
    float:left;
    margin-top:20px;
    // transition:all .3s;
    div{width: 202px;box-sizing: border-box;}
}
.main-item:hover{
    border:1px solid #C01133;
    // box-shadow: 0 0 1px #C01133;
}
.mi-pic{height: 202px;
    a{
        display:inline-block;
        width: 100%;
        height: 100%;
    }
    img{
        width: 100%;
        height: 100%;
    }
}
.mi-price{
    height: 14px;
    line-height: 14px;
    margin-top:16px;
    font-size:14px;
    font-weight:bold;
    color:#C01133;
}
#goodslist .mi-title a:hover{
    text-decoration: underline;
}
.mi-com{color:#999;}
.mi-com-commit{
    i{color:black;margin-right:5px;}
    a{color:skyblue;}
}
.mi-com-good{
    
    margin-left:15px;
    a{color:#C01133;}
    
    i{color:black;margin-right:5px;}

}


.mi-type{color:#999999;}
.mi-msg,.mi-com,.mi-title,.mi-type{
    height: 12px;
    line-height: 12px;
    font-size:12px;
    margin-top:10px;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow:hidden;
}

.addcar{
    height: 36px;
    border:1px solid #C01133;
    background: #fff;
    margin-top:10px;
    
    a{
        display:inline-block;
        width: 100%;height: 100%;
        line-height: 36px;
        text-align: center;
        color:#C01133;
    }

}
.addcar:hover{background: #C01133;}
.addcar:hover a{color:#fff;}
.main-item:nth-child(5n){
    margin-right:0;
}


.page-index{
    text-align: center;
    margin-top:70px;
}

.pi-wrap{
    display:inline-block;
    margin:0 auto;
    a{display:inline-block;width: 100%;height: 100%;}
    div{
        float:left;
        margin:0 5px;
        line-height: 26px;
        display:inline-block;
        box-sizing: border-box;
        padding:0 5px;
    }
    div:not(.ot){
        
        width: 26px;
        height: 26px;
        border:1px solid #ccc;
        background: #EEEEEE;
    }
    .prevp,.nextp{
        
        border:1px solid #ccc;
        background: #EEEEEE;
    }
}



.view-history{
    margin-top:20px;
    .container{
        height: 320px;
        padding:0 20px;
        border:1px solid #ccc;
    }
}
.vh-list{width: 100%;height: 100%;  overflow:hidden}
.vh-title{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}

.vh-item{
    width: 200px;
    height: 242px;
    padding:14px;
    padding-bottom:0;
    border:1px solid transparent;
    margin-left:5px;
    float:left;
}
.vh-item:hover{
    border:1px solid #C01133;
}
.vhi-pic{
    width: 200px;
    height: 200px;
    a{
        display: inline-block;
        width: 100%;
        height: 100%;
    }
    img{
        width: 100%;
        height: 100%;
    }
    
}

.vhi-price{
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size:18px;
    font-weight:bold;
    text-align: center;
    color:#C01133;
}