@import 'footer';
body{background-color:#F9F9F8;}
div.container{width: 950px;min-width: 950px;margin:0 auto;}
#regist{

}
#top{
    .container{height: 110px;box-sizing: border-box;}
    .wrap{height: 57px;margin-top:29px;}

}
.wrap{
    h1,div,img{height: 100%;}
}

#main{
    
    .container{
        border:1px solid #ccc;
        background: #fff;
    }
}
.welcome{
    height: 50px;
    border-bottom:1px solid #ccc;
    .left{
        height: 50px;
        line-height: 50px;
        margin-left:20px;
        color:red;
    }
    .right{
        height: 50px;
        line-height: 50px;
        margin-right:20px;
        a{color:red;}
    }
}
.regist-main{
    .wrap{
        height: 36px;
        margin-top:20px;
    }
    label{
        display:inline-block;
        width: 321px;
        text-align:right;
    }
    span{
        color:red;
    }
    input{
        box-sizing: border-box;

        border:0;
    }
    .treaty-label{width: 302px;color:#fff;}
    
}
.input-wrap{
    display:inline-block;
    box-sizing: border-box;
    width: 300px;
    height: 36px;
    border:1px solid #ccc;
    position:relative;
    input{width: 260px;height: 100%;}
    i{height: 30px;width: 30px;line-height: 30px;text-align:center;color:#aaa;}
    span{
        display:inline-block;
        position:absolute;

        font-size:12px;
        color:black;
        display:none;
    }
}
.username .showinfo{right:-100px;top:0;i{color:blue;}}
.username .showerror{right:-100px;top:0;i{color:red;}}
.username .showerror2{right:-100px;top:0;i{color:red;}}
.pwd .showinfo{right:-88px;top:0;i{color:blue;}}
.pwd .showerror{right:-150px;top:0;i{color:red;}}

.pwd2 .showinfo{right:-114px;top:0;i{color:blue;}}
.pwd2 .showerror{right:-90px;top:0;i{color:red;}}

.phone .showinfo{right:-102px;top:0;i{color:blue;}}
.phone .showerror{right:-126px;top:0;i{color:red;}}

.msgcode .showinfo{right:-228px;top:0;i{color:blue;}}
.msgcode .showerror{right:-228px;top:0;i{color:red;}}

.pic-randomcode{
    width: 200px;
    input{width: 160px;}
}
.msgcode{
    width: 200px;
    input{width: 160px;}
}
.treaty{
    display:inline-block;
    width: 300px;
    height: 36px;
    text-align:left;
    label{width: 100%;height: 100%;}
    input{
        width: 13px;
        height: 13px;
        margin-right:24px;
    }
    a{
        color:red;
    }
}
.wrap:first-child{
    margin-top:60px;
}
.regist-main .wrap:last-child{
    label{height: 21px;}
    margin-top:0;
    margin-bottom:74px;
    
}

#main .code-btn{width: 90px;height: 100%;border:1px solid #ccc;}
.random-code{display:inline-block;width: 90px;height: 36px;vertical-align: middle;}
#regist-btn{background: #E6133C;color:#fff;border-radius: 2px;width: 300px;height: 36px;}


#bottom{padding-top:0;}


